body {
    background: radial-gradient(#33ccff, #ccf2ff);
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: #00406b;
}

a:visited {
    color: #000;
}

.content a {
    font-size: 14px;
    color: #00406b;
}

.content a:visited {
    color: #00406b;
}

.content a:hover {
    text-decoration: underline;
}

.content h3{
    margin-top: 10px;
}

.content p{
    text-indent: 8px;
}

.content {
    padding: 10px 0 10px 0;
    width: 775px;
    margin-left: 15px;
    min-height: 200px;
}

.eye {
    height: 10px;
    width: 20px;
    margin: 0 7px 0 7px;
}

.eye_link {
    margin: 4px 10px 4px 10px;
    font-size: 20px;
    color: black;
    font-style: italic;
}

.eye_link:hover {
    text-decoration: underline;
}

.search_1 {
    width: 210px;
    height: 0px;
    position: relative;
    left: 850px;
    top: -40px;
}

.scrollup{
    width:100px;
    height:100px;
    opacity:0.9;
    position:fixed;
    bottom:40px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url('/public/image/system/icon_top.png') no-repeat;
}

.informer {
    margin: 0 0 0 10px;
    float: left;
}

.basement_menu a:visited {
    color: #00406b;
}

.body {
    width: 1080px;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 14px rgba(0,0,0,0.4);
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.arms {
    height: 84px;
    width: 65px;
    margin: 15px 35px 10px 35px;
    float: left;
}

.title {
    text-align: left;
    height: 110px;
}

.hat {
    width: 1080px;
    box-shadow: inset 0 0 1px;
    background: linear-gradient(to right, rgba(168,242,70,0.4), rgba(168,242,70,0.2), rgba(168,242,70,0.4), rgba(168,242,70,0.8));
}

.maps {
    position: relative;
    float: right;
    height: 110px;
    opacity: 0.6;
}

/* Правая панель */
.right_panel {
    width: 270px;
    min-height: 200px;
    border-radius: 0 0 0 5px;
    float: right;
}

.fast_link {
    background: #D1F89D;
    box-shadow: inset 0 0 1px;
    padding: 5px;
    margin-bottom: 5px;
}

.fast_link h3{
    text-align: center;
    margin: 10px 5px;
}

.fl_one a{
    color: #00406b;
    font-size: 20px;
}

.fl_one {
    margin: 5px;
}

.fl_one a:hover {
    text-decoration: underline;
}

.fl_color {
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 10px;
    float: left;
    margin-top: 2px;
}
/* Конец */

.title h1{
    font-family: TimesNewRoman;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0px;
    padding-top: 25px;
    opacity: 0.8;
}

.basement_menu {
    margin-bottom: 10px;
    clear: both;
    text-align: center;
    font-size: 14px;
}

.basement_menu a{
    text-decoration: none;    
}

.basement_a {
    line-height: 2;
    text-indent: 10px;
    height: 85px;
}

.basement {
    width: 1050px;
    margin: 15px;
    padding: 10px 0px 10px 0px;
    box-shadow: inset 0 0 1px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #E1FFBB;
}

.basement_b {
    height: 155px;
    box-shadow: inset 0 0 1px;
    margin: 0px 10px 0px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
}

.basement_b a {
    text-decoration: none;
}

.bottom_c {
    height: 60px;
    padding-left: 25px;
    padding-top: 10px;
}

.bottom_a {
    width: 330px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: inset 0 0 1px;
    float: left;
    text-align: center;
    margin: 10px;
    height: 65px;
    background: #fff;
}

.bottom_b {
    height: 135px;
    float: left;
    width: 480px;
    margin: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.basement_img {
    float: left;
    margin: 0px 10px 10px 10px;
    height: 40px;
    width: 40px;
}

.basement h5 {
    margin: 0px;
    font-size: 13px;
    color: #333;
    font-weight: 300;
}

.copyright {
    text-align: center;
}

/* Главное меню */
#menu
{
    width: 100%;
    margin: 0;
    padding: 9px 0 0 0;
    list-style: none;
    background: #e0ffff;
    background: -moz-linear-gradient(#99e6ff, #e0ffff);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #e0ffff),color-stop(1, #99e6ff));
    background: -webkit-linear-gradient(#99e6ff, #e0ffff);
    background: -o-linear-gradient(#99e6ff, #e0ffff);
    background: -ms-linear-gradient(#99e6ff, #e0ffff);
    background: linear-gradient( to bottom, rgba(168,242,70,0.6), rgba(145,237,24,0.6), rgba(117,196,14,0.6));
    box-shadow: inset 0 0 1px;
}

#menu li
{
    float: left;
    padding: 0 0 10px 0;
    position: relative;
}

#menu a
{
    float: left;
    height: 25px;
    padding: 0 13px;
    color: #002238;
    text-transform: uppercase;
    font: bold 12px/25px TimesNewRoman;
    margin: 5px;
    text-decoration: none;
}

#menu li:hover > a
{
    color: #fff;
    text-shadow: #000 0 0 5px;
}

*html #menu li a:hover /* IE6 */
{
    text-shadow: #000 0 0 5px;
}

#menu h4
{
    float: left;
    height: 25px;
    padding: 0 13px;
    color: #002238;
    text-transform: uppercase;
    font: bold 12px/25px TimesNewRoman;
    text-decoration: none;
    margin: 5px;
    cursor: default;
}

#menu li:hover > h4
{
    color: #fff;
    text-shadow: #000 0 0 5px;
}

*html #menu li h4:hover /* IE6 */
{
    text-shadow: #000 0 0 5px;
}

#menu li:hover > ul
{
    display: block;
}

/* Подменю */

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #A6CC75;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: inset 0 0 1px;
}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
}

#menu ul li:last-child
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a
{
    padding: 10px;
    margin: 1px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
    box-shadow: inset 0 0 2px;
    background: #D1F89D;
}

*html #menu ul a /* IE6 */
{
    height: 10px;
    width: 150px;
    box-shadow: 0 0 2px;
}

*:first-child+html #menu ul a /* IE7 */
{
    height: 10px;
    width: 150px;
    box-shadow: inset 0 0 2px;
}

#menu ul a:hover
{
    background: #0186ba;
    background: -moz-linear-gradient(#04acec,  #0186ba);
    background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
    background: -webkit-linear-gradient(#04acec,  #0186ba);
    background: -o-linear-gradient(#04acec,  #0186ba);
    background: -ms-linear-gradient(#04acec,  #0186ba);
    background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */
