.anonyms {
	border-top: 2px dotted #808080;
	border-bottom: 2px dotted #808080;
	width: 750px;
	margin: 20px 0 20px 0;
	padding: 15px 0 15px 0;
	float: left;
}

.answers {
	padding: 20px 10px 10px 10px;
}

.field {
	margin-bottom: 5px;
}

.title_con {
	padding: 10px;
	background: #85BC3D;
	margin-top: 8px;
	font-size: large;
	font-style: italic;
	color: white;
	border-radius: 4px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
    text-indent: 8px;
}

.field {
	width: 400px;
}

.field_block input {
	margin-bottom: 6px;
}

.name_block {
	width: 325px;
	float: left;
	line-height: 26px;
}

.field_block {
	width: 415px;
	float: left;
}

#qv { cursor: pointer; }

.submit {
	margin: 10px 0 10px 0;
	padding: 5px 10px;
	background: #85BC3D;
	border-color: #D1F89D;
	font-size: large;
	font-style: italic;
	color: white;
	cursor: pointer;
}

.contacts {
	margin-bottom: 5px;
	padding: 20px 10px 10px 10px;
	width: 755px;
	background: linear-gradient(to top, #e6e6e6, #fafafa);
	border-radius: 5px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.contacts textarea {
	height: 130px;
	width: 743px;
	resize: none;
}

.block_1 {
	float: left;
	width: 530px;
	line-height: 24px;
}

.block_2 {
	float: left;
	/*width: 240px;*/
}

/*.block_2 input[type="text"] {
	width: 220px;
}*/