.title_con {
	padding: 10px;
	background: #85BC3D;
	margin-top: 8px;
	font-size: large;
	font-style: italic;
	color: white;
	border-radius: 4px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
    text-indent: 8px;
}

.even:hover, .line:hover {
	background: linear-gradient(#04acec,  #0186ba);
	color: white;
	text-shadow: #000 0 0 5px;
}

.name_block {
	width: 425px;
	float: left;
	line-height: 26px;
}

.field_block {
	width: 315px;
	float: left;
}

.field_block_2 {
	border-top: 2px dotted #808080;
	width: 750px;
	margin-top: 20px;
	padding-top: 15px;
	float: left;
}

.field_block input {
	width: 300px;
	margin-bottom: 5px;
}

.contacts {
	margin-bottom: 5px;
	padding: 20px 10px 10px 10px;
	height: 170px;
	width: 754px;
	background: linear-gradient(to top, #e6e6e6, #fafafa);
	border-radius: 5px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.submit {
	margin: 10px 0 10px 0;
	padding: 5px 10px;
	background: #85BC3D;
	border-color: #D1F89D;
	font-size: large;
	font-style: italic;
	color: white;
	cursor: pointer;
	float: right;
}