h4{
	margin-top: 8px;
}

.questionnaire h4 {
	text-indent: 5px;
}

.name_block {
	width: 425px;
	float: left;
	line-height: 26px;
}

.field_block {
	width: 315px;
	float: left;
}

.field_block_2 {
	border-top: 2px dotted #808080;
	width: 750px;
	margin-top: 20px;
	padding-top: 15px;
	float: left;
}

.field_block input{
	width: 300px;
	margin-bottom: 5px;
}

.questionnaire {
	padding: 10px;
	width: 755px;
	height: auto;
	background: #e0ffff;
	border-radius: 5px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.question:hover {
	background: #B9F1FF;
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.question td{
	padding: 5px 5px 5px 5px;
}

.contacts {
	margin-bottom: 5px;
	padding: 10px;
	height: 220px;
	width: 755px;
	background: linear-gradient(to top, #e6e6e6, #fafafa);
	border-radius: 5px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.submit {
	margin: 10px;
	float: right;
}