.table {
	font-size: 14px;
	border-collapse: collapse;
	text-align: left;
	width: 775px;
	background: #D1F89D;
}

.table th, .table td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	-moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    text-indent: 8px;
}

.title_line {
	background: #85BC3D;
	font-size: large;
	font-style: italic;
	color: white;
}

.even {
	background: #E4FFC1;
}